
*{
    margin: 0 auto;
    padding: 0;
}

body {
            
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url(风景2.jpeg);
   background-size: cover;
   
}


.box {
    
    height: 500px;
    width: 500px;
    border-top: 0.1px dotted ;
    border-top-color: aliceblue;
    border-left: 0px dotted ;
    border-left-color: aliceblue;
    border-right: 0.5px dotted ;
    border-right-color: aliceblue;
    border-bottom: 0px dotted ;
    border-bottom-color: aliceblue;
    border-radius: 10%;
    background-color: rgba(240, 248, 255, 0.212);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




.box .dlk {
    display: block;
    
    
}

.box .dl {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: aliceblue;
    font-family: "楷体";
    height: 60px;
    width: 249px;
    border-right: 1px dotted ;
    border-right-color: aliceblue;
    float: left;
    cursor: pointer;
}

.box .zck {
    display: none;

}

.box .zc {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: aliceblue;
    font-family: "楷体";
    height: 60px;
    width: 249px;
    border-left: 1px dotted ;
    border-left-color: aliceblue;
    float: right;
    cursor: pointer;
}

.box .zh > input {
    margin-left: 100px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: "楷体";
    height: 80px;
    width: 300px;
    border-top: 0.1px dotted ;
    border-top-color: aliceblue;
    border-left: 0.1px dotted ;
    border-left-color: aliceblue;
    border-right: 0.1px dotted ;
    border-right-color: aliceblue;
    border-bottom: 0.1px dotted ;
    border-bottom-color: aliceblue;
    border-radius: 30%;
    background-color: rgba(240, 248, 255, 0.212);
}


.box .mm > input {
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    font-size: 20px;
    font-family: "楷体";
    height: 80px;
    width: 300px;
    border-top: 0.1px dotted ;
    border-top-color: aliceblue;
    border-left: 0.1px dotted ;
    border-left-color: aliceblue;
    border-right: 0.1px dotted ;
    border-right-color: aliceblue;
    border-bottom: 0.1px dotted ;
    border-bottom-color: aliceblue;
    border-radius: 30%;
    background-color: rgba(240, 248, 255, 0.212);
}

.box .wjmm {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: aliceblue;
    font-family: "楷体";
    height: 60px;
    width: 125px;
    border-bottom: 0px dotted ;
    border-bottom-color: aliceblue;
}

.box .dlan >button {
    text-align: center;
    margin-left: 150px;
    font-size: 30px;
    font-family: "楷体";
    height: 50px;
    width: 200px;
    border-width: 0px 0px 0px 0px;
   color: rgb(0, 0, 0);
   cursor: pointer;
   background-color: rgba(191, 209, 241, 0.616);
   transition: background-color 0.3s,color 0.3s,border 0.3s,;
}

.box .dlan >button:hover {
    text-align: center;
    margin-left: 150px;
    font-size: 30px;
    font-family: "楷体";
    height: 50px;
    width: 200px;
    border-width: 0.1px 0.1px 0.1px 0.1px;
    border-color: black;
    color: rgb(238, 188, 188);
   background-color: rgba(104, 130, 248, 0.541);
}
    









